.recetas {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

#receta-1 {
  background-image: url(../assets/DulceDeLeche.jpg);
}

#receta-2 {
  background-image: url(../assets/WaffleMadame.jpg);
}

#receta-2 div span {
  font-weight: 700;
  color: #492824;
}

.recetas h2 {
  font-size: 80px;
  color: #fff8e8;
}

#receta-2 div h2 {
  color: #492824;
}

.recetas h2:hover {
  text-decoration: underline;
}

.recetas span {
  color: #fff8e8;
  font-size: 30px;
}

.boton-receta {
  margin-top: 50px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: #d1941a;
  padding: 2px;
  border: 2px solid #d1941a;
  display: table;
  text-align: center;
}

.boton-receta:hover {
  background-color: #bb4129;
  border: 2px solid #bb4129;
}

.boton-receta span a {
  font-size: 20px;
  font-weight: 400;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: #fff8e8;
}

.carrusel {
  overflow: hidden;
  position: relative;
  height: 88vh;
  width: 100%;
  top: 0;
}

.flechas-carrucel {
  color: red;
  position: absolute;
  transform: scale(3);
}

.atras {
  left: 0;
  margin-left: 10px;
}

.adelante {
  right: 0;
  margin-right: 10px;
}
